<div class="upload-container">
  <mat-card class="upload-card">
    <mat-card-header>
      <mat-card-title>Upload Your Resume</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="jobForm">
        <!-- Removed mat-form-field, used mat-button for file upload -->
        <div class="file-upload-container">
          <button mat-raised-button color="secondary" (click)="fileInput.click()">Choose File</button>
          <input #fileInput type="file" (change)="onFileChange($event)" formControlName="file" accept=".csv" hidden />
        </div>

        <div *ngIf="fileError" class="error-message">
          <mat-icon>error</mat-icon>
          <span>{{ fileError }}</span>
        </div>

        <button mat-raised-button color="primary" (click)="uploadResume()" [disabled]="!jobForm.valid || !jobForm.get('file')?.value">Upload</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
